
@use '../config/_variable.scss' as *;
@use '../config/_mixin.scss' as *;
@use '../components/cards/_card-programstudi.scss' as *;

.programstudi{
    background-color: $neutral-25;
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}