@use '../config/_variable.scss' as *;
@use '../config/_mixin.scss' as *;
@use '../base/_animations.scss' as *;

.welcome{
	position: relative;
	overflow: hidden;
	background-color: $white;
	&:before {
		content: "";
		position: absolute;
		width: 200px;
		max-width: 250px;
		height: 500px;
		border: 1px solid $red-200;
		right: 0;
		transform: translatey(-200px);
		animation: beforeShape1 6s ease infinite alternate both;
	}
	@include imageRatio(879,494);
	position: relative;
	width: 100%;
	z-index: 1;
	
	.container{
		position: relative;
		z-index: 5;
	}
	&__vector-container{
		width: 100%;
		position: absolute;
		bottom: calc(100% - 80px);
	}
	&__vector{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	&__slider{
		border-radius: 37px;
		box-shadow: 0px 14px 48px -6px rgba(0, 0, 0, 0.21);
	}
	&__media-container{
		margin-bottom: 32px;
		border-radius: 37px;
		border: 24px solid $neutral-25;
		overflow: hidden;
	}
	&__image-container{
		border-radius: 17px;
		overflow: hidden;
	}
	@media only screen and (max-width: 1399.98px) {
		&__vector-container{
			bottom: calc(100% - 60px);
		}
		&__media-container{
			border: 22px solid $white;
		}
		&__slider{
			border-radius: 32px;
		}
	}
	@media only screen and (max-width: 1199.98px) {
		&__vector-container{
			bottom: calc(100% - 55px);
		}
		&__media-container{
			border: 20px solid $white;
		}
		&__slider{
			border-radius: 27px;
		}
	}
	@media only screen and (max-width: 991.98px) {
		&__vector-container{
			bottom: calc(100% - 42px);
		}
		&__media-container{
			border: 18px solid $white;
		}
		&__slider{
			border-radius: 24px;
		}
	}
	@media only screen and (max-width: 767.98px) {
		&__vector-container{
			bottom: calc(100% - 60px);
		}
		&__media-container{
			border: 16px solid $white;
		}
	}
	@media only screen and (max-width: 575.98px) {
		padding-top: 32px;
		&__media-container{
			border: 14px solid $white;
		}
	}
	@media only screen and (max-width: 480px) {
		&__vector-container{
			bottom: calc(100% - 32px);
		}
	}
}