@use "../config/variable" as *;
// ANCHOR RESET ALL
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
// ANCHOR RESET BODY
body {
	font-family:$primary-font;
	color: $neutral-70;
	transition: 0.4s ease;
	background-color: $neutral-25;
	&.no-scroll {
		overflow: hidden;
	}
}
// ANCHOR RESET SCROLL BAR
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: $primary;
}

::-moz-selection {
	background-color: $primary;
	color: #ffffff;
}

// ANCHOR RESET MOUSE SELECTION
::selection {
	background-color: $primary;
	color: #ffffff;
}

// ANCHOR RESET LINK
a {
	color: $primary;
	transition: 0.4s ease;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $primary;
	}
}

