@use  '../config/_variable.scss' as *;
@use  '../config/_mixin.scss' as *;
@use '../sections/_banner.scss' as *;
@use '../sections/_welcome.scss' as *;
@use '../sections/_program-studi.scss' as *;
@use '../sections/_testimonial.scss' as *;
@use '../sections/_homenews.scss' as *;
@use '../sections/_homeevents.scss' as *;