@use "../config/_variable.scss" as *;
@use "../config/_mixin.scss" as *;


.footer {
    background-color: $neutral-25;
    .navbar-brand{
        padding: 0px;
    }
    &__grid{
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
        column-gap: 8%;
        row-gap: 24px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 600;
        color: $neutral-80;
        margin-bottom: 24px;
    }
    &__logo-container{
        grid-column: 1/2;
        grid-row: 1;
    }
    &__description-container{
        grid-column: 1/2;
        grid-row: 2;
    }
    &__social-icon{
        grid-column: 1/2;
        grid-row: 3;
    }
    &__contact-container{
        grid-column: 2/3;
        grid-row: 1/4;

    }
    &__menu-container{
        grid-column: 3/4;
        grid-row: 1/4;
    }
    &__copyright{
        grid-column: 1/-1;
        grid-row: 4;
    }
    &__description-container{
        font-size: 16px;
        line-height: 1.7;
        font-family: $secondary-font;
        p{
            margin-bottom: 0px;
        }
    }
    &__contact-list{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    &__contact-item{
        margin-bottom: 24px;
        padding-left: 28px;
        position: relative;
    }
    &__contact-icon{
        position: absolute;
        top: 4px;
        left: 0px;
        font-size: 20px;
    }
    &__contact-unlink{
        margin: 0px;
        color: $neutral-70;
    }
    &__contact-link{
        color: $neutral-70;
        transition: 0.4s ease;
        &:hover{
            color: $primary;
        }
    }
    &__menu-list{
        padding: 0px;
        list-style: none;
    }
    &__menu-item{
        margin-bottom: 16px;
    }
    &__menu-link{
        font-size: 14px;
        color: $neutral-70;
        transition: 0.4s ease;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        &:hover{
            color: $primary;
        }
    }
    &__copyright{
        padding: 16px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #d60e0033;
    }
}
