@use "../config/variable" as *;
@use '../config/mixin' as *;

.top-menu{
    border-bottom: 1px solid $neutral-30;
    &__inner{
        display: flex;
        padding: 8px 0px;
        justify-content: flex-end;
    }
    &__list{
        margin: 0px;
        list-style: none;
        padding: 0px;
    }
    &__item{
        display: inline-block;
        margin-right: 16px;
       
        &:last-child{
            margin-right: 0px;
        }
    }

    &__link{
        text-transform: uppercase;
        color: $neutral-70;
        transition: 0.4s ease;
        font-size: 14px;
      
    }
}

.navbar-custom{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
    background-color: $white;
    transition: 0.4s ease;
    z-index: 20;
    // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);

    &.show{
        top: 0px;
        box-shadow: $box-shadow-100;
        background-color: $white; 
    }

    &.hide{
        top: -250px;
    }

    .navbar-nav{
        .nav-item{
            margin-right: 27px;
            &:last-child{
                margin-right: 0px;
            }
            .nav-link{
                position: relative;
                padding: 24px 0px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $primary-50;
                letter-spacing: 1.5px;
                transition: 0.4s ease;
                text-transform: uppercase;
                &:focus{
                    outline: none;
                }

                &:hover,
                &.active,
                &.show{
                    color: $primary;
                }

                &:hover::after,
                &.active::after,
                &.show::after{
                    background: url('https://api.iconify.design/ion/chevron-down-sharp.svg?color=%2300c2cb') no-repeat center center / contain;
                }
            }
            .nav-link-app{
                border: 1px solid #00C2CB;
                border-radius: 8px;
                transition: 0.4s ease;
                &:hover{
                    background: linear-gradient(143.47deg,#0be3b2,#00c2cb 120.11%);
                }
                &:hover path{
                    fill: $white;
                }
            }
        }

        .nav-login{
            margin-left: 25px !important;
            order: 9;
            .nav-link{
                background: linear-gradient(143.47deg,#00c2cb,#00c2cb 120.11%);
                color: $white;
                border-radius: 8px;
                padding: 16px 50px;
                font-weight: 300;
                transition: background 4s ease-out;  
                &:hover{
                    background: linear-gradient(143.47deg,#0be3b2,#00c2cb 120.11%);
                    color: $white;
                }

                &.active{
                    background: linear-gradient(143.47deg,#0be3b2,#00c2cb 120.11%);
                    color: $white;
                }
            }
        }

        .nav-item-description{
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: $neutral-90;
        }
    }

    .dropdown-toggle{
        &::before{
            transition: 0.4s ease;
        }
        &::after{
            border: none;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background: url('https://api.iconify.design/ion/chevron-down-sharp.svg?color=%23454550') no-repeat center center / contain;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.4s ease;
        }

        &.show::after{
            transform: rotate(180deg);
            background: url('https://api.iconify.design/ion/chevron-down-sharp.svg?color=%2300c2cb') no-repeat center center / contain;
        }
    }
    .dropdown-menu{
        top: calc(100% - 24px);
        border-radius:8px;
        border-color: transparent;
        box-shadow: $box-shadow;

        .menu-item:last-child .dropdown-item{
            margin-bottom: 0px !important;
        }
        .dropdown-item{
            position: relative;
            padding: 12px 32px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #454550;

            &:last-child{
                margin-bottom: 0px;
            }

            &:hover,
            &.active{
                background-color: transparent;
                color: $primary;
            }
        }
        .menu-item{
            width: 100%;
            padding: 0px;
        }

        .nav-item{
            margin-left: 0px !important;
        }
    }

    .pll-parent-menu-item{
        .nav-link{
            span{
                vertical-align: middle;
            }
            img{
                margin-top: 1px;
                max-width: 32px;
            }
        }
        .dropdown-menu{
            padding: 24px 20px;
            min-width: 88px;
            left: 50%;
            transform: translateX(-50%);

            .dropdown-item{
                padding: 0px;
                font-size: 18px;
                text-align: center;
                span{
                    vertical-align: middle;
                }
                img{
                    margin-top: 1px;
                    max-width: 32px;
                }
            }
        }
        .menu-item{
            padding: 0px;
            margin-left: 0px;
        }


    }
    &__toggler{
        border: none;
        padding: 0px;
        font-weight: 400;
        font-size: 14px;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    &__top-menu{
        align-items: center;
    }
    @media only screen and (max-width: 1600px) {
        .navbar-nav{
            .nav-item{
                margin-left: 14px;
                .nav-link{
                    padding: 8px 12px;
                    font-size: 16px
                }
            }
            .nav-login{
                margin-left: 14px !important;
               
            }
        }
        .dropdown-menu{
            .dropdown-item{
                .dropdown-info{
                    &__title{
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1399.98px) {
        .navbar-nav{
            .nav-item{
                margin-left: 6px;
                &:last-child{
                    margin-right: 0px;
                }
                .nav-link{
                    position: relative;
                    padding: 8px 12px;
                    font-size: 14px;
                    line-height: 20px;
                }
                .nav-link-app{
                    svg{
                        max-width: 100px;
                        max-height: 18px;
                    }
                }
            }
            .nav-login{
                margin-left: 6px !important;
            }
        }
        .dropdown-menu{
            .dropdown-item{
                .dropdown-info{
                    &__title{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }

        .dropdown-toggle{
            &::after{
                width: 14px;
                height: 14px;
            }
        }
    }

    @media only screen and (max-width: 1199.98px) {
        .navbar-nav{
            .nav-item{
                margin-right: 4px;
                &:last-child{
                    margin-right: 0px;
                }
                .nav-link{
                    position: relative;
                    padding: 8px 8px;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        .dropdown-menu{
            .dropdown-item{
                .dropdown-info{
                    &__title{
                        font-size: 14px;
                        line-height: 18px;
                    }
                    &__description{
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }

        .dropdown-toggle{
            &::after{
                width: 14px;
                height: 14px;
            }
        }
    }

    @media only screen and (max-width: 991.98px) {
        .navbar-nav{
            .nav-item{
                margin-bottom: 4px;
                margin-right: 0px;
                padding: 0px;
                &:last-child{
                    margin-right: 0px;
                }
                .nav-link{
                    position: relative;
                    padding: 12px 12px;
                    font-size: 18px;
                    line-height: 30px
                }                   
            }
            .nav-contact{
                margin: 40px 0px 80px 0px;
                text-align: center;
            }
            .nav-item-description{
                display: none;
            }
        }

        .dropdown-menu{
            border-radius: 0px;
            border-color: transparent;
            padding: 0px;
            box-shadow: none;
            .dropdown-item{
                padding: 16px 12px;
                margin-bottom: 4px !important;
                .dropdown-info{
                    &__title{
                        font-size: 18px;
                        line-height: 30px;
                    }
                    &__description{
                        display: none;
                    }
                }
            }
        }
        // .dropdown-menu{
           
        // }
        .dropdown-toggle{
            &::after{
                position: absolute;
                top: 20px;
                right: 16px;
                width: 18px;
                height: 18px;
            }
            &.show::before{
                display: none;
            }
        }
        .pll-parent-menu-item{
            .dropdown-menu{
                padding: 0px 0px;
                left: 0px;
                transform: translateX(0px);
            }
        }

        &__top-menu{
            align-items: stretch;
        }
    }

    @media only screen and (max-width: 767.98px) {
        
        .dropdown-menu{
            .nav-item-icon{
                a{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .dropdown-item{
                margin-bottom: 4px !important;
            }
        }
    }
}
.navbar-brand{
    display: inline-block;
    margin: 0px;
    padding: 16px 0px;
    transition: 0.4s ease;
    img{
        max-width: 300px;
        height: auto;
        transition: 0.4s ease;
    }

    @media only screen and (max-width: 1399.98px) {
        img{
            max-width: 300px;
        }
    }


}

.navbar-collapse {
    @media only screen and (max-width: 991.98px) {
        max-height: 100vh;
        overflow: auto;
        padding-bottom: 80px;
        transition: 0.2s ease;

        &.collapse {
            height: 100vh;
        }
    }
}

.pll-parent-menu-item{
    order: 10;
    &:hover > a::before{
        background: url('https://api.iconify.design/ph/globe-bold.svg?color=%2300c2cb') no-repeat center center / contain;
    }
    img{
        width: 14px;
        height: 14px !important;
        border-radius: 100%;
        object-fit: cover;
    }

    > a{
        padding-left: 24px !important;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            background: url('https://api.iconify.design/ph/globe-bold.svg?color=%23454550') no-repeat center center / contain;
            width: 20px;
            height: 20px;
            z-index:3;
            transition: 0.2s ease;
        }
       
    } 
}



