@use "../config/_variable.scss" as *;

:root {
	--section-padding: clamp(40px, 10vh, 120px);
	--margin-bottom-title-wrapper:clamp(32px, 2.604vw, 50px);
	--font-size-section-title:clamp(24px, 2.083vw, 40px);
	--line-height-section-title: 1.5;
	--font-size-section-title-description:clamp(14px, 0.938vw, 18px);
	--font-size-section-content:clamp(14px, 0.938vw, 18px);
	--margin-bottom-section-title: 8px;
}


// ANCHOR PADDING
.section-padding {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	&--bottom {
		@extend .section-padding;
		padding-top: 0px;
		padding-bottom: var(--section-padding);
	}

	&--top {
		@extend .section-padding;
		padding-top: var(--section-padding);
		padding-bottom: 0px;
	}
}
// ANCHOR TITLE 
.section-title-wrapper {
	position: relative;
	margin-bottom: var(--margin-bottom-title-wrapper);
	z-index: 10;

	&.additional-margin-top {
		margin-top: 42px;
	}
}
.section-title {
	position: relative;
	margin-bottom: var(--margin-bottom-section-title);
	font-weight: 700;
	font-size: var(--font-size-section-title);
	line-height: var(--line-height-section-title) ;
	text-transform: capitalize;
	color: $neutral-100;
	z-index: 5;

	&__subtitle {
		margin-bottom: 8px;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: $secondary-80;
	}

	&__description {
		margin: 0px;
		font-weight: 400;
		font-size: var(--font-size-section-title-description);
		line-height: 28px;
		color:$neutral-90;
	}

	@media only screen and (max-width: 767.98px) {
		&__subtitle {
			font-size: 14px;
			line-height: 18px;
		}
	}
}
// ANCHOR CONTENT 
.section-content{
	font-size:var(--font-size-section-content);
	line-height: 1.75;
}

